/* // Notas:  
// 1. .header es el contenedor del header que se muestra como un contenedor flexible con elementos centrados verticalmente y horizontalmente, y tiene un padding de 0 3rem. También tiene una posición sticky, lo que significa que se mantendrá en la parte superior de la pantalla cuando se scrollea, y un z-index de 1000 para asegurarse de que se muestre encima de otros elementos.
// 2. .logo es el logotipo del sitio que tiene un ancho de 6rem y un margen superior de 1.25rem.
// 3. .nav_menu es el icono del menú de navegación que tiene un ancho de 3.125rem, un margen izquierdo de 1.875rem y un cursor de puntero cuando se pasa por encima.
// 4. .nav_busqueda es el icono de la búsqueda que tiene un ancho de 1.5625rem.
// 5. .carrito es el icono del carrito de compras que tiene un ancho de 2.5rem.
// 6. .user es el icono del usuario que tiene un ancho de 3.125rem y un margen derecho de 1.875rem. */

/* Estilos para el header */
.header {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FFFFFF; 
}

.logo {
  width: 6rem;
  margin-top: 1.25rem;
}

.nav_menu {
  width: 3.125rem;
  margin-left: 1.875rem;
  cursor: pointer;
}

.nav_busqueda {
  width: 1.5625rem;
}

.carrito {
  width: 2.5rem;
}

.user {
  width: 3.125rem;
  margin-right: 1.875rem;
}
