/* // Notas:  
// 1. .iconos-acciones es el contenedor de los iconos de acciones que se muestra como un contenedor flexible con un espacio entre los iconos de 0.625rem y un margen superior de 0.625rem.
// 2. .icono-borrar y .icono-editar son los iconos de borrar y editar respectivamente, que tienen un ancho y alto de 1.25rem, y un cursor de puntero cuando se pasa por encima. */

/* Estilos para pagina mis reseñas */
.iconos-acciones {
  display: flex;
  gap: 0.625rem; 
  margin-top: 0.625rem; 
}

.icono-borrar, .icono-editar {
  width: 1.25rem; 
  height: 1.25rem; 
  cursor: pointer;
}
