/* // Notas:  
// 1. .Plataformas es el contenedor de las plataformas que se muestra con un texto centrado y un fondo de color #c5b8fd.
// 2. .titulo es el título de las plataformas que se muestra con un margen superior de 1.25rem, un fondo de color #fefbe3, un display de inline-block y un padding de 0.5rem 1rem.
// 3. .logos-arriba y .logos-abajo son los contenedores de los logos de las plataformas que se muestran con un display de flex y un justify-content de center para centrar los logos horizontalmente.
// 4. .logos-arriba img y .logos-abajo img son los logos individuales que se muestran con un margen de 1.875rem, un ancho de 8rem y un alto automático. */

/* Estilos para las plataformas */
.Plataformas {
  text-align: center;
  background-color: #c5b8fd;
}

.titulo {
  margin-top: 1.25rem; 
  background-color: #fefbe3;
  display: inline-block; 
  padding: 0.5rem 1rem;
}

.logos-arriba,
.logos-abajo {
  display: flex;
  justify-content: center;
}

.logos-arriba img,
.logos-abajo img {
  margin: 2.5rem;
  width: 5rem; 
}
