/* // Notas:
// 1. #modal-add-game es el contenedor del modal que se centra en la pantalla y tiene un fondo amarillo claro.
// 2. .btn--close-modal es el botón de cierre del modal que se coloca en la esquina superior derecha y no tiene borde ni fondo.
// 3. .modal__header es el título del modal que tiene un tamaño de fuente de 1.5rem y un margen inferior de 1.25rem.
// 4. .modal__form es el formulario del modal que se muestra como un contenedor flexible con elementos en una columna y centrados horizontalmente.
// 5. label es la etiqueta del formulario que tiene un tamaño de fuente de 1rem, un margen superior de 0.625rem y se alinea a la izquierda.
// 6. input[type="text"] y input[type="number"] son los campos de texto y número del formulario que ocupan todo el ancho disponible, tienen un padding de 8px y un borde de 1px de color gris claro.
// 7. button[type="submit"] es el botón de envío del formulario que tiene un margen superior de 1.25rem, un padding de 0.625rem 1.25rem y una transición suave al cambiar el fondo.
// 8. button[type="submit"]:hover es el estado de hover del botón de envío que cambia el fondo a un color marrón claro.
// 9. .checkbox-genero es el contenedor de los checkboxes de género que se muestra como un contenedor flexible con elementos en una fila y centrados horizontalmente.
// 10. .checkbox-genero div es cada uno de los elementos del contenedor de checkboxes que tiene un margen derecho de 0.625rem.
// 11. .btn-add-genero es el botón que agrega un nuevo género que tiene un margen superior de 0.625rem, un padding de 5px 0.625rem, un color de texto de #323232 y una transición suave al cambiar el fondo.
// 12. .btn-add-genero:hover es el estado de hover del botón que agrega un nuevo género que cambia el fondo a un color marrón claro. */

/* Estilos para el modal de agregar nuevo videojuego */
#modal-add-game {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c8b738;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 25rem;
  width: 90%;
  text-align: center;
}

#modal-add-game .btn--close-modal {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
}

#modal-add-game .modal__header {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

#modal-add-game .modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-add-game label {
  font-size: 1rem;
  margin-top: 0.625rem;
  display: block;
  text-align: left;
}

#modal-add-game input[type="text"],
#modal-add-game input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#modal-add-game button[type="submit"] {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s ease;
  color: #323232;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#modal-add-game button[type="submit"]:hover {
  background-color: #70671f; 
  color: #fff;
}

.checkbox-genero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.625rem;
}

.checkbox-genero div {
  margin-right: 0.625rem;
}

/* Estilo para el botón de agregar nuevo género */
.btn-add-genero {
  margin-top: 0.625rem;
  padding: 5px 0.625rem; 
  color: #323232; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem; 
  transition: background-color 0.3s ease;
}

.btn-add-genero:hover {
  background-color: #70671f; 
  color: #fff;
}

.overlay-videojuegos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

.overlay-videojuegos.hidden {
  display: none; 
}

