.busqueda {
  display: flex;
  align-items: center;
}

.nav_busqueda {
  cursor: pointer;
}

.input-busqueda {
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  margin-right: 0.5em;
}

.btn-busqueda {
  padding: 0.5em 1em;
  background-color: #554c7c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-busqueda:hover {
  background-color: #332d4a;
}

.hidden {
  display: none;
}