/* // Notas:  
// 1. * es un selector universal que aplica estilos a todos los elementos HTML. En este caso, se establece que todos los elementos tengan un padding y un margen de 0, lo que significa que no habrá espacio adicional entre los elementos.
// 2. body es el elemento raíz del documento HTML. En este caso, se establece que el cuerpo del documento tenga una familia de fuente "Karla" con un peso de fuente sans-serif, un color de texto de #323232 y una altura de línea de 1.
// 3. .hidden es una clase que se utiliza para ocultar elementos. En este caso, se establece que los elementos con esta clase tengan una visibilidad de hidden y una opacidad de 0, lo que significa que no se mostrarán en la pantalla. */

/* Estilos generales */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  color: #323232;
  line-height: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}