/* // Notas:  
// 1. .modal-content es el contenedor del contenido del mensaje modal que se muestra en una posición fija en el centro de la pantalla, con un fondo blanco, un padding de 3.5rem, un radio de borde de 0.625rem y una sombra de 0 2px 0.625rem rgba(0, 0, 0, 0.1). También tiene un z-index de 1000 para asegurarse de que se muestre encima de otros elementos.
// 2. .modal es el contenedor del mensaje modal que se muestra en una posición fija en la parte superior izquierda de la pantalla, con un ancho y alto del 100% y un fondo semitransparente rgba(0, 0, 0, 0.5). También tiene un z-index de 1000 para asegurarse de que se muestre encima de otros elementos.
// 3. .close-modal es el botón de cierre del mensaje modal que se muestra en la esquina superior derecha del contenedor, con un cursor de puntero cuando se pasa por encima y un padding de 0.5rem.
// 4. .hidden es una clase que se utiliza para ocultar elementos, en este caso, se establece que los elementos con esta clase no se muestren en la pantalla.
// 5. #redirect-btn es el botón de redirección que se muestra en el mensaje modal, con un display de bloque para centrarlo horizontalmente, un margen superior de 0.625rem, un padding de 5px 0.625rem, un color de texto de #323232, un borde redondeado de 5px y un cursor de puntero cuando se pasa por encima. También tiene una transición suave al cambiar el fondo de color. */

/* Estilos para el mensaje modal */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 2px 0.625rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #c8b738;
}

.modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem; 
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.hidden {
  display: none; 
}

#redirect-btn {
  display: block; 
  margin: 0 auto; 
  margin-top: 2rem;
  padding: 5px 0.625rem;
  color: #323232; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem; 
  transition: background-color 0.3s ease;
}
